.author {
  width: 562px;
  margin: 0 auto;
  margin-bottom: 46px;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 24px;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #ff621f;
}

.wrapper__calendar-date {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  padding-bottom: 14px;
  display: flex;
  flex-direction: row;
}

.author__calendar {
  margin: 0;
  padding: 0;
  padding-left: 34px;
  box-sizing: border-box;
  display: inline-block;
}

.author__mounth {
  width: 142px;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  font-size: 24px;
  font-weight: bold;
  background-color: #2b2e35;
  text-align: center;
}

.author__number {
  width: 142px;
  margin: 0;
  padding: 0;
  padding-top: 3px;
  padding-bottom: 7px;
  font-size: 82px;
  font-weight: bold;
  color: #c2c2c2;
  background-color: #ffffff;
  text-align: center;
}

.wrapper {
  width: 340px;
  margin: 0;
  padding: 0;
  margin-left: 37px;
  display: inline-block;
}

.author__day {
  margin: 0;
  padding: 0;
  padding-right: 160px;
  padding-bottom: 6px;
  box-sizing: border-box;
  display: inline-block;
  font-size: 34px;
  font-style: bold;
  font-family: "Circe", "Arial", sans-serif;
  text-transform: uppercase;
}

.author__date {
  margin: 0;
  padding: 0;
  padding-right: 190px;
  padding-bottom: 7px;
  box-sizing: border-box;
  display: inline-block;
  font-size: 40px;
  font-style: bold;
  font-family: "Circe", "Arial", sans-serif;
  text-transform: uppercase;
  border-bottom: 2px dashed #ffffff;
}

.author__time {
  margin: 0;
  padding: 0;
  padding-top: 18px;
  box-sizing: border-box;
  display: inline-block;
  font-size: 27px;
  font-style: normal;
  text-transform: uppercase;
}

.author__img {
  margin: 0 165px;
  margin-top: 40px;
  margin-bottom: 28px;
  padding: 0;
  width: 228px;
  height: 229px;
  display: block;
  box-sizing: border-box;
  background-color: #ff621f;
}

.author__profile {
  margin: 0;
  padding: 0 236px;
  padding-bottom: 16px;
  font-size: 25px;
  font-style: italic;
}

.author__name {
  margin: 0;
  padding: 0 200px;
  padding-bottom: 43px;
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.author__list {
  margin: 0;
  padding: 0 40px;
  padding-left: 87px;
}

.author__item {
  margin: 0;
  padding: 0;
  padding-left: 8px;
  padding-bottom: 21px;
  font-size: 20px;
  font-style: normal;
  line-height: 26px;

  &--position {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .author {
    width: 500px;
    margin: 0;
    padding-bottom: 35px;
  }

  .wrapper__calendar-date {
    margin-top: 8px;
    padding-bottom: 9px;
  }

  .author__calendar {
    padding-left: 32px;
  }

  .author__mounth {
    width: 126px;
    padding-bottom: 2px;
  }

  .author__number {
    width: 126px;
    padding-top: 3px;
    padding-bottom: 6px;
    font-size: 73px;
  }

  .wrapper {
    width: 320px;
    margin-left: 33px;
  }

  .author__day {
    padding: 0;
    padding-right: 10px;
    font-size: 30px;
  }

  .author__date {
    padding-right: 170px;
    padding-bottom: 7px;
    font-size: 36px;
  }

  .author__time {
    padding-top: 18px;
    font-size: 24px;
  }

  .author__img {
    margin: 0 148px;
    margin-top: 40px;
    margin-bottom: 23px;
    width: 204px;
    height: 205px;
  }

  .author__profile {
    padding: 0 210px;
    padding-bottom: 13px;
    font-size: 24px;
  }

  .author__name {
    padding: 0 180px;
    padding-bottom: 38px;
    font-size: 22px;
  }

  .author__list {
    padding-left: 81px;
    padding-right: 30px;
  }

  .author__item {
    padding-left: 5px;
    padding-bottom: 21px;
    font-size: 18px;
    line-height: 22px;
  }
}
