.intro {
  width: 562px;
  margin: 0 auto;
  padding: 0;
  padding-top: 27px;
  padding-bottom: 51px;
}

.intro__item {
  margin: 0;
  padding: 0 77px;
  box-sizing: border-box;
  font-size: 34px;
  font-weight: bold;
  font-family: "Circe", "Arial", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #ff621f;
}

.intro__title {
  margin: 0;
  margin-bottom: 22px;
  padding: 0 60px;
  padding-top: 36px;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  font-family: "Circe", "Arial", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #000000;

  &--position {
    display: block;
  }
}

.intro__button {
  width: 436px;
  margin: 0;
  margin-left: 72px;
  padding: 16px 0;
  padding-bottom: 20px;
  padding-left: 29px;
  box-sizing: border-box;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: #ff621f;
  border-bottom: 5px solid #ff332a;
}

@media (min-width: $desktop-width) {
  .intro {
    width: 1000px;
    padding-top: 53px;
    padding-bottom: 39px;
  }

  .intro__item {
    padding: 0 296px;
  }

  .intro__title {
    margin-bottom: 23px;
    padding: 0 17px;
    padding-top: 36px;

    &--position-second {
      display: block;
    }
  }

  .intro__button {
    margin: 0 282px;
  }
}
